<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav>
        <h1><a href="/">Honda's Ecommerce</a></h1>
        <ul>
            <% if(user) { %>
                <li> <a href="/auth/logout">Log out</a> </li>
                <% if (user.firstName) { %>
                    <li> <p>Welcome <%- user.firstName+' '+user.lastName %></p> </li>
                    <li> <a href="/profile/edit/customer/<%- user.customer_id %>">My profile</a> </li>
                    <li> <a href="/order/<%- user.customer_id %>">My orders</a> </li>
                    <li> <a href="/cart/<%- user.customer_id %>">My cart</a> </li>
                    <li> <a href="/books/all">Show books</a> </li>
                <% } else { %>
                    <li> <p>Welcome <%- user.name %></p> </li>
                    <li> <a href="/profile/edit/publisher/<%- user.publisher_id %>">My profile</a> </li>
                    <li> <a href="/books/add">Add a book</a> </li>
                    <li> <a href="/books/published/<%- user.publisher_id %>">Published books</a> </li>
                <% } %>
            <% } else { %>
                <li> <a href="/auth/login">Log in</a> </li>
                <li> <a href="/auth/signup/publisher">Sign up as Publisher</a> </li>
                <li> <a href="/auth/signup/customer">Sign up as Customer</a> </li>
            <% } %>
        </ul>
    </nav>
</body>
</html>
