<%- include('./partials/header.ejs') %>

<h2>List of Books</h2>

<!-- Filtering options -->
<form action="/books/filter/category" method="post">
    <label for="filterCategory">Filter by Category:</label>
    <select name="category" id="filterCategory">
        <!-- Static options -->
        <option value="fiction">Fiction</option>
        <option value="non-fiction">Non-Fiction</option>
        <option value="science-fiction">Science Fiction</option>
        <!-- Add more options as needed -->
    </select>
    <button type="submit">Apply Category Filter</button>
</form>

<form action="/books/filter/author" method="post">
    <label for="filterAuthor">Filter by Author:</label>
    <select name="author" id="filterAuthor">
        <!-- Static options -->
        <option value="john-doe">John Doe</option>
        <option value="jane-doe">Jane Doe</option>
        <!-- Add more options as needed -->
    </select>
    <button type="submit">Apply Author Filter</button>
</form>

<form action="/books/filter/publisher" method="post">
    <label for="filterPublisher">Filter by Publisher:</label>
    <select name="publisher" id="filterPublisher">
        <!-- Static options -->
        <option value="publisher-a">Publisher A</option>
        <option value="publisher-b">Publisher B</option>
        <!-- Add more options as needed -->
    </select>
    <button type="submit">Apply Publisher Filter</button>
</form>

<ul>
    <% books.forEach(book => { %>
        <li>
            <h3><%= book.title %></h3>
            <p>Description: <%= book.description %></p>
            <p>Remaining copies: <%= book.pieces %></p>
            <p>Authors:<br>
                <% if (book.authors.includes(',')) { %>
                    <% var authorsArray = book.authors.split(','); %>
                    <% authorsArray.forEach(author => { %>
                        &nbsp;&nbsp;&nbsp;&nbsp;.&nbsp;<%= author.trim() %><br>
                    <% }); %>
                <% } else { %>
                    &nbsp;&nbsp;&nbsp;&nbsp;.&nbsp;<%= book.authors.trim() %><br>
                <% } %>
            </p>
            <p>Categories:<br>
                <% if (book.categories && book.categories.includes(',')) { %>
                    <% var categoriesArray = book.categories.split(','); %>
                    <% categoriesArray.forEach(category => { %>
                        &nbsp;&nbsp;&nbsp;&nbsp;.&nbsp;<%= category.trim() %><br>
                    <% }); %>
                <% } else if (book.categories) { %>
                    &nbsp;&nbsp;&nbsp;&nbsp;.&nbsp;<%= book.categories.trim() %><br>
                <% } %>
            </p>
            <a href="/books/<%- book.ISBN %>">View Details</a>
            <% if (publisher) { %>
                <a href="/books/edit/<%- book.ISBN %>">Edit Book</a>
                <a href="/books/delete/<%- book.ISBN %>">Delete Book</a>
            <% } %>
        </li>
    <% }); %>
</ul>

<%- include('./partials/footer.ejs') %>


