<%- include('./partials/header.ejs') %>

<ul>
  <% books.forEach(book => { %>
    <li>
      <h3><%= book.title %></h3>

      <form action="/cart/delete" method="post">
        <input type="hidden" name="cart_id" value="<%= book.cart_id %>">
        <input type="hidden" name="isbn" value="<%= book.isbn %>">
        <button type="submit">Remove from Cart</button>
      </form>
      
    </li>
  <% }); %>
</ul>

<a href="/order/add/<%= user.customer_id %>">Order</a>

<%- include('./partials/footer.ejs') %>
